
.image {
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image::after  {
  content: "";
  display: block;
  padding: 30%;
}

.image0 {
  composes: image;
  background-image: url("/img/home_blocks_0_xs.jpeg");
}

.image1 {
  composes: image;
  background-image: url("/img/home_blocks_1_xs.jpeg");
}

.image2 {
  composes: image;
  background-image: url("/img/home_blocks_2_xs.jpeg");
}

.image3 {
  composes: image;
  background-image: url("/img/home_blocks_3_xs.jpeg");
}

@media (min-width: 576px) { 
  .image0 {background-image: url("/img/home_blocks_0_xs.jpeg");}
  .image1 {background-image: url("/img/home_blocks_1_xs.jpeg");}
  .image2 {background-image: url("/img/home_blocks_2_xs.jpeg");}
  .image3 {background-image: url("/img/home_blocks_3_xs.jpeg");}
}

@media (min-width: 768px) {
  .image0 {background-image: url("/img/home_blocks_0_sm.jpeg");}
  .image1 {background-image: url("/img/home_blocks_1_sm.jpeg");}
  .image2 {background-image: url("/img/home_blocks_2_sm.jpeg");}
  .image3 {background-image: url("/img/home_blocks_3_sm.jpeg");}
}

@media (min-width: 992px) { 
  .image0 {background-image: url("/img/home_blocks_0_md.jpeg");}
  .image1 {background-image: url("/img/home_blocks_1_md.jpeg");}
  .image2 {background-image: url("/img/home_blocks_2_md.jpeg");}
  .image3 {background-image: url("/img/home_blocks_3_md.jpeg");}
}

@media (min-width: 1200px) { 
  .image0 {background-image: url("/img/home_blocks_0_lg.jpeg");}
  .image1 {background-image: url("/img/home_blocks_1_lg.jpeg");}
  .image2 {background-image: url("/img/home_blocks_2_lg.jpeg");}
  .image3 {background-image: url("/img/home_blocks_3_lg.jpeg");}
}