.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  background: #FFF;
  height: auto;
  border-bottom: 1px solid #f0f0f0;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

.banner {
  padding: 6px;
  background: #24c7d1;
}

.content {
  width: auto;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content div, .content a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-align: center;
}

.content::before {
  background-image: url("http://cdn.shopify.com/s/files/1/0660/0355/t/8/assets/flag-usa.png?11187596002778326588")
}


@media (max-width: 1024px) {
  .side {
      display: none;
  }
}